{% extends "dashboard.html" %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Services</title>


</head>
<body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block content %}
    <h1>This your Services page</h1>
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>ADD NEW SERVICES</a>
        {% for post in posts %}
            <div class="container">
                <h2 class="display-4 font-weight-bold">{{post.title}}</h2>
                <pre class="lead">{{post.text}}</pre>
                <p>Service Provider:- {{post.Nmae_of_service_provider}}</p>
                <p>Price:-{{post.Price}}</p>
            </div>
        {% endfor %}
    {% endblock %}

</body>
</html>
